<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fibbage Game</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="game-container">
        <!-- Content will be dynamically injected by JavaScript -->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>