<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Viewer</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="game-container">
        <h1>Fibbage / Quiplash</h1>
        <h2 class="waiting-text">Connecting to the game...</h2>
    </div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>